In [2]:
import pandas as pd
import numpy as np
import requests
from crpapi import CRP

pd.options.display.max_rows = 600

In [3]:
members_congress = pd.read_csv('members_congress.csv')
id_zero =  members_congress["CID"][0]
ids_1 = members_congress["CID"][1:200]
ids_2 = members_congress["CID"][200:400]
ids_3 = members_congress["CID"][400:]

In [34]:
#members_congress[members_congress["CRPName"].isin(['McConnell, Mitch','Pelosi, Nancy'])== True]

In [6]:
#1 max@    4b56244b64d9d05a6075b6ae99fad0c3
#2 max.hw  be32676991180be3bca4e506848f2b36
#3 mhw340  539bdcd044ad7659118c3bd609eb27e8

In [7]:
crp1 = CRP("4b56244b64d9d05a6075b6ae99fad0c3")
crp2 = CRP("be32676991180be3bca4e506848f2b36")
crp3 = CRP("539bdcd044ad7659118c3bd609eb27e8")

In [41]:
def get_contribs(API_key, cand_id):
    chunky_list = API_key.candidates.contrib(cand_id,2020)
    out_list = []
    for i in chunky_list:
        out_list.append(i['@attributes'])
    out_df = pd.DataFrame.from_records([out_list[0]])
    try:
        for i in range(1,10):
            temp_df = pd.DataFrame.from_records([out_list[i]])
            out_df = out_df.append(temp_df)
    except IndexError:
        out_df.insert(0, "CID", cand_id)
        out_df.reset_index(drop=True, inplace=True)
        return out_df
    out_df.insert(0, "CID", cand_id)
    out_df.reset_index(drop=True, inplace=True)
    return out_df

In [42]:
get_contribs(crp1, 'N00025495')

                              org_name total pacs indivs
0                Caddick Utilities LLC     0    0      0
0                 Date Mining Services     0    0      0
0                          Krapf Group     0    0      0
0                        Kreider Farms     0    0      0
0                     Lamb McErlane PC     0    0      0
0                  Meuser for Congress     0    0      0
0  Reading Blue Mountain & Northern RR     0    0      0
0                    Rinaldi & Rinaldi     0    0      0
0                         Wenger Group     0    0      0

In [ ]:
# next up, just iterate through all members and add their get_contrib resuls to one big df

In [164]:
# summary stuff

def get_summary(API_key, cand_id):
    cand_sum = API_key.fetch('candSummary', cid=cand_id)['summary']['@attributes']
    out_df = pd.DataFrame.from_records([cand_sum])
    return out_df

In [35]:
#get_summary(crp3, "N00007360").append(get_summary(crp3, "N00007360")).append(get_summary(crp3, "N00007360")).append(get_summary(crp3, "N00007360"))

In [110]:
pelosi_df = pd.DataFrame.from_records([pelosi_contribs[0]])

In [30]:
# create first persons ten
master_df = get_contribs(crp3, id_zero)

In [18]:
for i in ids_1:
    master_df = master_df.append(get_contribs(crp1, i))

IndexError: list index out of range

In [38]:
crp3.candidates.contrib("N00025495",2020)

[{'@attributes': {'org_name': 'Caddick Utilities LLC',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Date Mining Services',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Krapf Group',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Kreider Farms',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Lamb McErlane PC',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Meuser for Congress',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Reading Blue Mountain & Northern RR',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Rinaldi & Rinaldi',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}},
 {'@attributes': {'org_name': 'Wenger Group',
   'total': '0',
   'pacs': '0',
   'indivs': '0'}}]

In [25]:
members_congress[members_congress["CID"].isin(['N00025495'])== True]

          CID        CRPName Party Office  FECCandID
14  N00025495  Barletta, Lou     R   PA11  S8PA00320